body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.destacados {
	margin-top: 50px;
	margin-bottom: 150px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 50px;
	.grupo1 {
		display: flex;
		gap: 50px;
		width: 100%;
		justify-content: center;
		a{& :hover {
			cursor: pointer;
			scale: 1.04;}
		}
		.data {
			margin-top: 10px;
			&:hover{
				cursor:pointer;
				color:goldenrod;
			}
			p{
				margin: 2px;
			}
		}
		.btn{
			background-color:goldenrod;
			border-color:goldenrod;
			scale: 0.85;
		}
		
	}
}