body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.destacados{
	display: flex;
	flex-direction: column;
	text-align: center;
.contenedor-productos {
	margin-top: 50px;
	margin-bottom: 150px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
	.producto{
		display: flex;
		gap: 28px;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 45px;
		a:hover {
			cursor: pointer;
			scale: 1.15;
		}
		.producto-detalles{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap:4px;
			}
			.producto-titulo{
				font-size: 20px;
			}
			
			.producto-data{
				font-size: 14px;
			}
			.producto-precio{
				font-size: 16px;
			}
			.producto-agregar {
				height: 45px;
				width: 55px;
				background-color:goldenrod;
				border-color:goldenrod;
				border-style: hidden;
				border-radius: 25%;
			}
		}
	}
}